    <footer class="bg-footer text-white pt-4 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <ul class="list-unstyled">
                        <li><strong>Contato com os desenvolvedores</strong></li>
                        <li>jpderussi@gmail.com</li>
                        <li>jpderussi@gmail.com</li>
                        <li>jpderussi@gmail.com</li>
                    </ul>
                </div>

                <div class="col-md-4 d-flex justify-content-center align-items-center mb-4 mb-md-0">
                    <img src="../imgs/LOGO_colorido-svg.svg" alt="Logo da Empresa" class="img-fluid logo-footer">
                </div>

                <div class="col-md-4 text-end">
                    <ul class="list-unstyled ">
                        <li class=""><strong>Informações da empresa</strong></li>
                        <li>Rua tal tal, 123 - Jau/SP</li>
                        <li>CNPJ: 14.444.444/0001-43</li>
                        <li>Telefone: (14)999999999</li>
                        <li>jpderussi@gmail.com</li>
                    </ul>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 text-center">
                    <hr class="border-secondary">
                    <p class="mb-0">&copy;2025 DPSN - Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>